.sheet-card-container {
  display: flex;
  flex-direction: column;
  .sheet-card-box {
    width: 132px;
    height: 132px;
    border-radius: 4px;
    background-color: @N500;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
  }
  .sheet-card-desc {
    margin-top: 5px;
    width: 132px;
    line-height: 20px;
    font-size: 13px;
    cursor: pointer;
  }
}
