.container {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  padding-top: 50px;
  padding-bottom: 58px;
  color: #000;
}
.header {
  width: 100vw;
  height: 50px;
  -webkit-app-region: drag;
  position: absolute;
  top: 0;
  left: 0;
}
.footer {
  width: 100vw;
  height: 58px;
  position: absolute;
  left: 0;
  bottom: 0;
}
.center {
  position: absolute;
  top: 50px;
  bottom: 58px;
  left: 0;
  right: 0;
  display: flex;
}
.sidebar {
  width: 200px;
  min-width: 200px;
}
.content {
  flex-grow: 1;
}
