[access]
	inheritFrom = Private-Projects
[submit]
[project]
	description = ????????
[access "refs/*"]
	owner = group user/Jack Woods (waningflow)
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Jack Woods (waningflow)
	label-Verified = -1..+1 group user/Jack Woods (waningflow)
	push = group user/Jack Woods (waningflow)
	read = group user/Jack Woods (waningflow)
	rebase = group user/Jack Woods (waningflow)
	removeReviewer = group user/Jack Woods (waningflow)
	submit = group user/Jack Woods (waningflow)
[access "refs/heads/*"]
	create = group user/Jack Woods (waningflow)
	push = +force group user/Jack Woods (waningflow)
	pushMerge = group user/Jack Woods (waningflow)
	read = group user/Jack Woods (waningflow)
[access "refs/tags/*"]
	push = group user/Jack Woods (waningflow)
	push = +force group user/Jack Woods (waningflow)
