.music-sheet-container {
  font-size: 12px;
  font-weight: 500;
  .rs-table-cell-content {
    padding-top: 9px;
    padding-bottom: 9px;
  }
  .music-sheet-table-index{
    color: @N400;
  }
  .music-sheet-table-artist {
    color: @N600;
  }
  .music-sheet-table-album {
    color: @N600;
  }
  .music-sheet-table-playtime {
    color: @N400;
  }
}
