.profilebar {
  display: flex;
  flex-direction: row;
  .profilebar_icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #ffffff;
    margin: 12px;
    cursor: pointer;
    outline: none;
    background-size: 100% 100%;
    background-repeat: no-repeat;
  }
  .profilebar_msg {
    display: flex;
    color: #000000;
    justify-content: flex-start;
    align-items: center;
    cursor: default;
    outline: none;
  }
}

.login_dialog {
  .login_dialog_container {
    display: flex;
    justify-content: center;
    align-items: center;
    .login_input_container {
      width: 260px;
      margin: 0 25px;
      .login_confirm_btn {
        width: 100%;
        margin-top: 50px;
      }
    }
  }
}
